.categories {
  margin-top: 40px;
  h2 {
    color: var(--mainWhite);
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    color: #999999;
  }

  .genresGrid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    .genreSingle {
      padding: 20px;
      background-color: var(--ButtonBackground);
      border: 1px solid var(--BorderColor);
      overflow: hidden;
      border-radius: 12px;

      .imageWrapper {
        aspect-ratio: 1/1;
        overflow: hidden;
        border-radius: 10px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .inner {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        h3 {
          color: var(--mainWhite);
          font-weight: bold;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .genresGrid {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }
  }

  @media (max-width: 480px) {
    .genresGrid {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }
  }
}
