/* :root {
  --secondary-color: red;
  --main-word-color: white;
} */

.homePage {
  position: relative;
}


.smallWords {
  color: var(--PText);
  font-size: 0.875rem;
  line-height: 150%;
}
.subtitle {
  color: var(--mainWhite);
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: bold;
}
.thirdTitle {
  color: var(--mainWhite);
  font-size: 1.125rem;
  line-height: 150%;
  font-weight: bold;
}
