:root {
  --gradient-dark-start: rgba(0, 0, 0, 0.99);
  --gradient-dark-middle: rgba(0, 0, 0, 0.5);
  --gradient-dark-end: rgba(0, 0, 0, 0.95);
  --gradient-dark-final: rgba(20, 20, 20, 1);
  --gradient-light-start: rgba(255, 255, 255, 0.99);
  --gradient-light-middle: rgba(255, 255, 255, 0.5);
  --gradient-light-end: rgba(255, 255, 255, 0.95);
  --gradient-light-final: rgba(255, 255, 255, 1);
}

[data-theme="light"] {
  --gradient-start: var(--gradient-light-start);
  --gradient-middle: var(--gradient-light-middle);
  --gradient-end: var(--gradient-light-end);
  --gradient-final: var(--gradient-light-final);
}

[data-theme="dark"] {
  --gradient-start: var(--gradient-dark-start);
  --gradient-middle: var(--gradient-dark-middle);
  --gradient-end: var(--gradient-dark-end);
  --gradient-final: var(--gradient-dark-final);
}

.top-imagesContent-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  color: var(--Background);
  margin-bottom: 4rem;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      var(--gradient-start) 0%,
      var(--gradient-middle) 40%,
      var(--gradient-end) 80%,
      var(--gradient-final) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mainWhite);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    z-index: 0;
  }
  .top-images-container {
    place-items: center;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    width: 100%;
    height: 25rem;
    margin-top: 10rem;
    .abstract-mobile {
      width: 12.5rem;
      height: 12.5rem;
      z-index: 1;
    }

    .textContainer {
      z-index: 1;

      .heading {
        line-height: 150%;
        font-size: 1.75rem;
        font-weight: bold;
        color: var(--mainWhite);
      }
    }

    .grid-container {
      position: absolute;
      top: 0;
      left: 0;
      height: 31.25rem;
      width: 100%;
      z-index: -1;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      margin: 20px auto;

      .grid-item {
        position: relative;
        padding-top: 100%;
        background-size: cover;
        background-position: center;
        border-radius: 8px;
        overflow: hidden;
      }
    }
  }
  .movieButton {
    background-color: var(--mainRed);
    padding: 20px 25px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: max-content;
    margin: 20px auto;
    color: #FFFFFF;
    p {
      color: var(--Background);
      font-size: 1rem;
      font-weight: bold;
    }
  }
}
@media (min-width: 1024px) {
  .top-imagesContent-container {
    margin-left: calc(-50vw + 50%);
    width: 100vw;
    height: 800px;

    .top-images-container {
      width: 100%;
      .grid-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
        margin: 20px auto;
      }
    }
  }
}
