.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;


  .modal-content {
    background: var(--ButtonBackground);
    padding: 20px;
    border-radius: 8px;
    position: relative;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    border: 1px solid var(--PText);

  }

  .modal-close {
    position: absolute;
    color: white;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    background: var(--mainRed);
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
  }
  .modal-close:hover {
    background: darkred;
  }
}