:root {
  --gradientt-dark-start: rgba(255, 0, 0, 0.1);
  --gradientt-dark-middle: rgba(255, 0, 0, 0.9);
  --gradientt-dark-end: rgba(255, 0, 0, 0.3);
  --gradientt-light-start: rgba(0, 0, 255, 0.1);
  --gradientt-light-middle: rgba(0, 0, 255, 0.9);
  --gradientt-light-end: rgba(0, 0, 255, 0.3);
}

[data-theme="light"] {
  --gradientt-start: var(--gradientt-light-start);
  --gradientt-middle: var(--gradientt-light-middle);
  --gradientt-end: var(--gradientt-light-end);
}

[data-theme="dark"] {
  --gradientt-start: var(--gradientt-dark-start);
  --gradientt-middle: var(--gradientt-dark-middle);
  --gradientt-end: var(--gradientt-dark-end);
}


.QandAContainer {
  user-select: none;
  color: var(--mainWhite);
  font-size: 0.875rem;
  line-height: 150%;
  .QandAHead {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    padding: 0.875rem, 1.25rem;
    margin-bottom: 2.5rem;
    button {
      width: 8.75rem;
      height: 3.06rem;
      border-radius: 4px;
      color: var(--main-color);
      background-color: var(--secondary-color);
      &:hover {
        background-color: var(--buttonHover);
        cursor: pointer;
      }
    }
  }
  .cardContainer {
    .questionCard {
      padding: 1rem 0.625rem;
      display: flex;
      flex-direction: column;
      gap: 1.8rem;

      .cardTitleRow {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 1rem;
        gap: 1.75rem;
        color: var(--mainWhite);
        font-size: 1.125rem;
        line-height: 150%;
        position: relative;
       
        p {
          border: solid 0.01px var(--hoverEffect);
          background-color: #ffffff0d;
          padding: 0.75rem;
          border-radius: 4px;
        }
        .toggle-icon {
          position: absolute;
          right:2rem;
       
        }
      }
      .line {
        background: linear-gradient(
          to left,
          var(--gradientt-start) 0%,
          var(--gradientt-middle) 80%,
          var(--gradientt-end) 100%
        );
        height: 0.7px;
        width: 100%;
      }
    }
  }
}
@media (min-width: 1024px) {
  .QandAContainer {
    .QandAHead {
      display: flex;
      flex-direction: row;
      gap: 10rem;
      justify-content: space-between;
      button {
        margin-right: 2rem;
      }
    }
    .cardContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      
    }
  }
}
