.searchBar {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--SecondaryBackground);
    width: 50%;
    border-radius: 20px;
    padding: 10px;

    form {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    input {
        background-color: transparent;
        border: none;
        outline: none;
        color: var(--mainRed);
        font-size: 1.2rem;
        padding: 10px;
        width: calc(100% - 70px);

        &::placeholder {
            color: var(--mainRed);
        }
    }
    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        transform: translateY(8px);
    }
}


@media (max-width: 768px) {
    .searchBar {
        width: 90%;
        top: 60px;
    }
    .searchBar button {
        padding: 6px;
    }
}